@import "../../style/variables";

.addBoardTaskButton {
  height: 2rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
  border-radius: 0.25rem;

  span {
    color: $gray-400;
  }

  &:hover {
    cursor: pointer;

    span {
      color:#20AAEA;
    }
  }
}