* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.BacklogTaskCardContainerVisible {
  width: 280px;
}
.BacklogTaskCardContainerVisible_BacklogTaskCard {
  cursor: pointer;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);
  text-align: right;
}
.BacklogTaskCardContainerVisible_BacklogTaskCard_description {
  text-align: center;
}
.BacklogTaskCardContainerVisible_BacklogTaskCard_more {
  transition: all 0.2s;
}
.BacklogTaskCardContainerVisible_BacklogTaskCard_more:hover {
  color: #20AAEA;
}
.BacklogTaskCardContainerVisible_BacklogTaskCard_icons {
  text-align: right;
  display: flex;
}
.BacklogTaskCardContainerVisible_BacklogTaskCard_icons_split, .BacklogTaskCardContainerVisible_BacklogTaskCard_icons_thumb, .BacklogTaskCardContainerVisible_BacklogTaskCard_icons_calendar, .BacklogTaskCardContainerVisible_BacklogTaskCard_icons_identity {
  margin: 0.5rem;
  transition: all 0.2s;
  justify-content: start;
}
.BacklogTaskCardContainerVisible_BacklogTaskCard_icons_split {
  margin-left: auto;
}
.BacklogTaskCardContainerVisible_BacklogTaskCard_icons_split:hover, .BacklogTaskCardContainerVisible_BacklogTaskCard_icons_thumb:hover, .BacklogTaskCardContainerVisible_BacklogTaskCard_icons_calendar:hover, .BacklogTaskCardContainerVisible_BacklogTaskCard_icons_identity:hover {
  color: #20AAEA;
}

.BacklogTaskCardContainerInvisible {
  width: 280px;
}
.BacklogTaskCardContainerInvisible_BacklogTaskCard {
  cursor: pointer;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgba(21, 27, 38, 0.15);
  text-align: right;
}
.BacklogTaskCardContainerInvisible_BacklogTaskCard_description {
  text-align: center;
}
.BacklogTaskCardContainerInvisible_BacklogTaskCard_more {
  transition: color 0.2s;
  visibility: hidden;
}
.BacklogTaskCardContainerInvisible_BacklogTaskCard_more:hover {
  color: #20AAEA;
}
.BacklogTaskCardContainerInvisible_BacklogTaskCard_icons {
  text-align: right;
  display: flex;
}
.BacklogTaskCardContainerInvisible_BacklogTaskCard_icons_split, .BacklogTaskCardContainerInvisible_BacklogTaskCard_icons_thumb, .BacklogTaskCardContainerInvisible_BacklogTaskCard_icons_calendar, .BacklogTaskCardContainerInvisible_BacklogTaskCard_icons_identity {
  margin: 0.5rem;
  transition: color 0.2s;
  justify-content: start;
}
.BacklogTaskCardContainerInvisible_BacklogTaskCard_icons_split {
  margin-left: auto;
}
.BacklogTaskCardContainerInvisible_BacklogTaskCard_icons_calendar, .BacklogTaskCardContainerInvisible_BacklogTaskCard_icons_identity {
  visibility: hidden;
}
.BacklogTaskCardContainerInvisible_BacklogTaskCard_icons_split:hover, .BacklogTaskCardContainerInvisible_BacklogTaskCard_icons_thumb:hover {
  color: #20AAEA;
}

.BacklogTaskCardContainerVisible:hover .BacklogTaskCardContainerVisible_BacklogTaskCard,
.BacklogTaskCardContainerInvisible:hover .BacklogTaskCardContainerInvisible_BacklogTaskCard {
  transform: translateY(-1px);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.BacklogTaskCardContainerVisible_BacklogTaskCard,
.BacklogTaskCardContainerInvisible_BacklogTaskCard {
  transition: all 0.2s;
}

/*# sourceMappingURL=BacklogTaskCard.css.map */
