@import "../../style/variables";

.addButton {
  height: 1.8rem;
  width: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.9rem;
  background: linear-gradient(right,#FF6262,#ffb32f);

  span {
    color: #f5f5f5;
  }

  &:hover {
    cursor: pointer;
    background: linear-gradient(right, red,orange);

    span {
      color:white;
    }
  }
}