.ColorPicker {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 240px;
}

.ColorPicker-cellsContainer {
    display: flex;
    flex-wrap: wrap;
}

.ColorPickerCell {
    height: 20px;
    margin: 2px;
    width: 20px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    fill: currentColor;

    &:after {
        content: '';
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 20px;
    }

    &-radio {
        display: none;

        &:checked + label:after {
            content: '√';
        }
    }

    &--none {
        border: 1px solid #e8ecee;
        background-color: #F6F8F9;

        &:after {
            color: black;
        }
    }

    &--red {
        background-color: #E8384F;
    }

    &--orange {
        background-color: #FD612C;
    }

    &--yellowOrange {
        background-color: #FD9A00;
    }

    &--yellow {
        background-color: #EEC300;
    }

    &--yellowGreen {
        background-color: #A4CF30;
    }

    &--green {
        background-color: #62D26F;
    }

    &--blueGreen {
        background-color: #37C5AB;
    }

    &--aqua {
        background-color: #20AAEA;
    }

    &--blue {
        background-color: #4186E0;
    }

    &--indigo {
        background-color: #7A6FF0;
    }

    &--purple {
        background-color: #AA62E3;
    }

    &--magenta {
        background-color: #E362E3;
    }

    &--hotPink {
        background-color: #EA4E9D;
    }

    &--pink {
        background-color: #FC91AD;
    }

    &--coolGray {
        background-color: #8DA3A6;
    }
}
