@import "../../style/variables";

.TaskStory {
  display: flex;
  font-family: $font-family;
  font-size: $text-size;
  font-weight: $text-weight;
  padding: 0.5rem 0;
  background: $gray-100;

  &__profile {
    height: 32px;
    width: 32px;
    background: crimson;
    border-radius: 1.5rem;
    margin-left: 0.5rem;
  }

  &__content {
    margin-left: 0.5rem;
    width: 100%;

    &__header {
      display: flex;
      height: 32px;
      align-items: center;

      .when {
        font-size: $desc-size;
        font-weight: $desc-weight;
        color: $gray-400;
        margin-left: 1rem;
        position: relative;
      }
    }

    &__extra {
      list-style: none;
      color: $gray-300;
      font-size: $desc-size*0.9;
      font-weight: $desc-weight;
      margin-top: 1rem;

      li {
        margin: 0.25rem 0;

        .when {
          margin-left: 0.25rem;
          position: relative;
        }
      }
    }
  }
}
